{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trainer Tools {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <header>
        <h1>Trainer Tools</h1>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ul>
        </nav>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>

        {% endif %}
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>
    
    {% if user.is_authenticated %}

    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
    {% endif %}
</body>
</html>