{% extends "core/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="dashboard-container">
        <h2>Welcome {{ request.user.username }}</h2>

        <div class="actions">
            <a href="{% url 'add_client' %}" class="btn primary">+ Add Client</a>
        </div>
        </a>

        <div class="card">
            <h3>Your Clients: </h3>
            <ul class="client-list">
                {% for client in clients %}
                    <a href="{% url 'client_detail' client.pk %}">
                        <li>{{ client.first_name }} {{ client.last_name }}</li>
                    </a>
                {% empty %}
                    <li class="empty">No clients yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
    